html, body { 
	position: relative;
	height: 100%;
	overflow-x: hidden;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #000;
}
.center { text-align: center; }

/* WEB FONTS */
@font-face {
	font-family: 'impactreg';
	src: url('fonts/impactreg.eot');
	src: local('impactreg'), url('fonts/impactreg.woff') format('woff'), url('fonts/impactreg.ttf') format('truetype');
}

/* MIXINS */
@mixin opacity-mixin($value) {
	-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=$value)';
	filter: alpha(opacity=$value);
	-moz-opacity: $value;
	-khtml-opacity: $value;
	opacity: $value;
}
@mixin transition-mixin($rule) {
	-webkit-transition: $rule;
	-moz-transition: $rule;
	-o-transition: $rule;
	transition: $rule;
}
@mixin transform-mixin($rule) {
	-webkit-transform: $rule;
	-moz-transform: $rule;
	-ms-transform: $rule;
	-o-transform: $rule;
	transform: $rule;
}
@mixin animation-mixin($rule) {
	-webkit-animation: $rule;
	-moz-animation: $rule;
	-o-animation: $rule;
	animation: $rule;
}
@mixin logo-mixin($rotate, $scale) {
	text-align: center;
	letter-spacing: 10px;
	text-indent: 10px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	@if $rotate and $scale != '' {
		@include transform-mixin(rotate(-10deg) scale($scale));
	} @else if $rotate and $scale == '' {
		@include transform-mixin(rotate(-10deg));
	} @else {
		@include transform-mixin(scale($scale));
	}
	span {
		display: block;
		margin: 0 auto;
		text-align: center;
		font-family: 'impactreg';
		font-size: 56px;
		font-weight: bold;
	}
}

/* MAIN LAYOUT */
.header { 
	z-index: 200;
	margin: 0;
	background-color: #000;
	.logo {
		margin: 0;
		color: #fff;
	   @include logo-mixin(false, 0.7);
	}
	
}

.gameBoard {
	z-index: 100;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 640px;
	height: 384px;
	margin: -192px 0 0 -320px;
	.cardContainer {
		position: relative;
		margin: 0 auto;
		.card {
			z-index: 600;
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 260px;
			height: 384px;
			margin: 0 10px;
			.cardPlaceholder {
				position: absolute;
				top: 0;
				left: 0;
				width: 260px;
				height: 384px;
				color: #d3d3d3;
				.inner {
					height: 374px;
					border: 5px dashed #d3d3d3;
					.cardLogo {
						margin-top: 130px;
	  	 				@include logo-mixin(true, '');
					}
				}
			}
			.front { 
				border: 5px solid #fff;
				background-color: #f2f2f2;
				-webkit-box-shadow: 0px 0px 28px #000;
				-moz-box-shadow: 0px 0px 28px #000;
				box-shadow: 0px 0px 28px #000;
			}
			.back { 
				border: 5px solid #000;
				background-color: #fff;
				overflow: hidden;
				.cardLogo {
					z-index: 620;
					margin-top: 130px;
					@include logo-mixin(true, '');
				}
				.statContainer {
					z-index: 630;
					@include opacity-mixin(0);
					position: absolute;
					top: 15px;
					left: 50px;
					width: 120px;
					padding: 10px;
					text-align: center;
					background-color: LightGrey;
					border: 5px solid #000;
					@include transition-mixin(none); /* prevent animation on class removal */
					&.visible{
						@include opacity-mixin(1);
						@include transition-mixin(opacity .5s ease-in);
					}
					.statValue {
						display: block;
						font-size: 26px;
						font-weight: bold;
					}
				}
				.damageBox {
					z-index: 640;
					position: absolute;
					width: 100%;
					top: 30px;
					left: 0;
					text-align: center;
					font-weight: bold;
					color: Red;
					@include transition-mixin(none); /* prevent animation on class removal */
					p { margin: 4px; }
					.damageValue {
						position: relative;
						display: inline-block;
						font-size: 24px;
						.icon {
							position: absolute;
							top: 0;
							left: -12px;
						}
					}
					&.visible { 
						@include opacity-mixin(1);
					}
					&.hide {
						@include opacity-mixin(0);
						@include transform-mixin(translateY(-80px));
						@include transition-mixin(1s ease-out all);
					}
				}
			}
			.cardImage { 
				z-index: 710;
				position: absolute;
				top: 20px;
				left: 50px;
				width: 150px;
				height: 150px;
			}
			.cardStats { 
				position: absolute;
				top: 170px;
				left: 5px;
				width: 240px;
				.cardNumber, .cardTitle { text-align: center; }
				h1.cardTitle { 
					margin-top: 10px;
					font-size: 18px;
					white-space: nowrap;
					overflow: hidden;
				}
				p.cardNumber { margin: 10px 0 0 0; }
				.cardButtons {
					position: relative;
					.button {
						display: inline-block;
						width: 110px;
						margin: 5px;
						padding: 10px;
						border: none;
						text-align: center;
						text-decoration: none;
						font-size: 12px;
						cursor: pointer;
						background-color: LightGrey;
						&.abilityButton {
							z-index: 720;
							position: absolute;
							display: block;
							top: -120px;
							right: -20px;
							height: 54px;
							font-size: 14px;
							font-weight: bold;
							color: #fff;
							background-color: #902edb;
							text-shadow: 0 -1px #46166b;
							&:hover { background-color: #a556e2; }
							&:disabled, [disabled] { color: #b19cc1; }
						}
					   .statValue {
					   	position: relative;
					   	display: block;
					    	font-size: 14px;
					    	font-weight: bold;
					   }
					   &:hover { background-color: #e0e0e0; }
						&.green {
							background-color: #6cc41f;
							color: #fff;
						}
						&.red {
							background-color: Red;
							color: #fff;
						}
						&.decreased { 
							color: Red;
							/* CSS triangle */
							.decreaseArrow {
								display: block;
								position: absolute;
								top: 4px;
								left: 8px;
								width: 0; 
								height: 0; 
								border-left: 8px solid transparent;
								border-right: 8px solid transparent;
								border-top: 8px solid Red;
							}
							&.red, &.green { 
								color: #fff;
								.decreaseArrow { border-top-color: #fff; }
							}
						}
						&:disabled, [disabled] { pointer-events: none; }
					}
				}
			}
			.playerMarker {
				z-index: 810;
				position: absolute;
				top: -15px;
				width: 50px;
				height: 50px;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				border-radius: 50%;
				font-weight: bold;
				color: #fff;
				background-color: #139cf2;
				span {
					display: block;
					width: 50px;
					height: 50px;
					line-height: 50px;
					text-align: center;
					font-size: 20px;
				}
			}
			.speechBubble {
				z-index: 820;
				position: absolute;
				top: -70px;
				width: 180px;
				text-align: center;
				background-color: #fff;
				border: 5px solid #000;
				-webkit-border-radius: 30px;
				-moz-border-radius: 30px;
				border-radius: 30px;
				@include transition-mixin("visibility .3s, opacity .3s");
				.inner {
					position: relative;
					margin: 15px;
					/* CSS triangle */
					&:after { 
						content: '';
						display: block;
						position: absolute;
						bottom: -32px;
						width: 20px;
						height: 20px; 
					   background: #fff;
					   border-right: 5px solid #000;
					   border-bottom: 5px solid #000;
					  	@include transform-mixin(rotate(45deg));
					}
					p { font-weight: bold; }
				}
				&.popIn { 
					visibility: visible;
					@include animation-mixin(popIn 0.3s 1);
					@include opacity-mixin(1);
				}
				&.popOut {
					visibility: hidden;
					@include animation-mixin(popOut 0.3s 1);
					@include opacity-mixin(0);
				}
				@keyframes popIn{
					50% { 
						@include transform-mixin(scale(1.2));
					}
				}
				@keyframes popOut{
					50% { 
						@include transform-mixin(scale(1.2));
					}
				}	
			}
			&.playerOne {
				.playerMarker { left: -15px; }
				.speechBubble { right: -37px; 
					.inner:after { left: 25px; }
				}
			}
			&.playerTwo {
				.playerMarker { right: -15px; }
				.speechBubble { left: -37px;
					.inner:after { right: 25px; }
				}
			}
			.flashOverlay {
				display: none;
				z-index: 800;
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: Red;
				@include opacity-mixin(0.5);
				&.blink {
					display: block;
					@include animation-mixin(blinker 0.2s linear infinite);
				}
				@keyframes blinker {  
					50% { 
						@include opacity-mixin(0);
					}
				}
			}
			.flip-container {
				@include opacity-mixin(1);
				@include transform-mixin(translateX(0));
				@include transition-mixin(none); /* no animation on class removal */
				&.slideUp {
					@include opacity-mixin(0);
					@include transform-mixin(translateY(-200px));
					@include transition-mixin(.6s ease-out all);
				}
			}
			
		}
		.cardSeperator {
			display: inline-block;
			vertical-align: top;
			width: 80px;
			height: 384px;
			line-height: 384px;
			text-align: center;
			font-family: 'impactreg';
			font-size: 40px;
			font-weight: bold;
		}
		.deck {
			z-index: 610;
			position: absolute;
			top: 0;
			width: 262px;
			height: 386px;
			&.deckOne { 
				left: -300px;
				.deckCard.last.slideOut {
					@include opacity-mixin(0);
					@include transform-mixin(translateX(300px));  
  					@include transition-mixin(.6s ease-out all);
				}
			}
			&.deckTwo { 
				right: -300px;
				.deckCard.last.slideOut {
					@include opacity-mixin(0);
					@include transform-mixin(translateX(-300px));  
  					@include transition-mixin(.6s ease-out all);
				}
			}
			.deckCard {
				position: absolute;
				width: 260px;
				height: 384px;
				background-color: #fff;
		  		border: 1px solid #fff;
		  		&.first .inner {
					border: 5px dashed #d3d3d3;
					color: #d3d3d3;
				}
				&.last {
					@include opacity-mixin(1);
					@include transform-mixin(translateX(0));
  					@include transition-mixin(none); /* no animation on class removal */
				}
				&.animationCard {
					@include opacity-mixin(0);
					top: -300px;
					left: 0;
  					@include transition-mixin(none); /* no animation on class removal */
  					&.slideDown {
  						@include opacity-mixin(1);
  						@include transform-mixin(translateY(300px));  
  						@include transition-mixin(.6s ease-out all);
  					}
				}
				.inner {
					width: 250px;
					height: 374px;
					border: 5px solid #000;
					.cardLogo {
						margin-top: 130px;
						@include logo-mixin(true, '');
					}
				}
			}
		}
	}
}
/* MODAL */
.overlay {
	display: none;
	z-index: 900;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, 0.5);
	&.visible { display: block; }
	.modal {
		z-index: 910;
		position: absolute;
		top: 50%;
  		@include transform-mixin(translateY(-50%)); /* Center vertically */
		left: 50%;
		width: 500px;
		margin-left: -270px;
		padding: 20px;
		text-align: center;
		background-color: #fff;
		-webkit-box-shadow:  0px 0px 40px black;
		-moz-box-shadow:  0px 0px 40px black;
		box-shadow:  0px 0px 40px black;
		.button {
			display: inline-block;
			margin: 15px 2px;
			padding: 15px 32px;
			text-align: center;
			text-decoration: none;
			font-size: 16px;
			border: none;
			color: white;
			cursor: pointer;
			background-color: #139cf2;
			&:hover { background-color: #3db0f7; }
		}
	}
}

/* FLIP ANIMATION */
/* entire container, keeps perspective */
.flip-container {
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}
/* flip the pane when hovered */
/*.flip-container:hover .flipper, .flip-container.hover .flipper, */
.flip-container.flip .flipper {
	@include transform-mixin(rotateY(180deg));
}

/*.flip-container, .front, .back {
	width: 260px;
	height: 360px;
}*/
.flip-container {
	width: 260px;
	height: 384px;
	.front, .back {
		width: 250px;
		height: 374px;
	}
}

/* flip speed goes here */
.flipper {
	@include transition-mixin(0.6s);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	@include transform-mixin(rotateY(0deg));
}

/* back, initially hidden pane */
.back {
	@include transform-mixin(rotateY(180deg));
}

/* RESPONSIVE LAYOUTS */

@media all and (max-width: 1024px) and (orientation: portrait) { /* Portrait iPad Pro and below */
/*	.gameBoard {
	width: 260px;
		height: 868px;
		margin-top: -434px;
		margin-left: -130px;
	}
	.gameBoard .cardContainer .card { 
		display: block;
		margin: 0;
	}
	.gameBoard .cardContainer .cardSeperator {
		display: block;
		width: auto;
		height: 100px;
		line-height: 100px;
	}
	.gameBoard .cardContainer .deck.deckTwo { 
		top: auto;
		bottom: 0;
	}*/
	.gameBoard {
		width: 260px;
		height: 868px;
		margin-top: -434px;
		margin-left: -130px;
		.cardContainer {
			.card { 
				display: block;
				margin: 0;
			}
			.cardSeperator {
				display: block;
				width: auto;
				height: 100px;
				line-height: 100px;
			}
			.deck.deckTwo { 
				top: auto;
				bottom: 0;
			}
		}
	}
}
@media all and (max-width: 768px) and (orientation: portrait) { /* Portrait iPad and below */
	.header { display: none; }
	.gameBoard .cardContainer .card.playerOne .speechBubble { 
		top: -25px;
		right: auto;
		left: -37px;
	}
	.gameBoard .cardContainer .card.playerOne .speechBubble .inner:after { 
		left: auto;
		right: 25px;
	}
}
@media all and (max-width: 823px) and (orientation: landscape) { /* Landscape large phones and below (823px width - Pixel 2 XL) */
	.header, .deck { display: none; }
	.gameBoard {
		width: 510px;
		height: 280px;
		margin-top: -140px;
		margin-left: -255px;
	}
	.gameBoard .cardContainer .card { margin: 0; }
	.gameBoard .cardContainer .card, 
	.gameBoard .cardContainer .card .cardPlaceholder, 
	.gameBoard .cardContainer .card .flip-container { 
		width: 220px; 
		height: 280px; 
	}
	.flip-container .front, .flip-container .back {
		width: 210px;
		height: 270px;
	}
	.gameBoard .cardContainer .card .cardPlaceholder .inner { height: 270px; }
	.gameBoard .cardContainer .card .cardImage {
		top: 15px;
		left: 45px;
		width: 120px;
		height: 120px;
	}
	.gameBoard .cardContainer .card .cardStats { 
		top: 135px;
		width: 200px;
	}
	.gameBoard .cardContainer .card .cardStats p.cardNumber { display: none; }
	.gameBoard .cardContainer .card .cardStats h1.cardTitle { margin: 10px 0 5px 0; }
	.gameBoard .cardContainer .card .cardStats .cardButtons .button { 
		width: 90px;
		padding: 5px; 
	}
	.gameBoard .cardContainer .card .cardStats .cardButtons .button.abilityButton {
		top: -115px;
   	right: -15px;
	}
	.gameBoard .cardContainer .card .back .cardLogo,
	.gameBoard .cardContainer .card .cardPlaceholder .inner .cardLogo { 
		margin-top: 100px;
		@include logo-mixin(true, 0.9);
   }
	.gameBoard .cardContainer .card .speechBubble { top: -25px; }
   .gameBoard .cardContainer .card .back .statContainer { left: 30px; }
	.gameBoard .cardContainer .cardSeperator {
		width: 70px;
		height: 280px;
		line-height: 280px;
		font-size: 34px;
	}
}
@media all and (max-width: 420px) and (orientation: portrait) { /* Portrait large phones and below */
	.deck { display: none; }
	.overlay .modal { 
		width: 300px;
		margin-left: -170px;
	}
	.gameBoard {
		width: 280px;
		height: 580px;
		margin-top: -290px;
		margin-left: -140px;
	}
	.gameBoard .cardContainer .card, 
	.gameBoard .cardContainer .card .cardPlaceholder, 
	.gameBoard .cardContainer .card .flip-container { 
		width: 180px; 
		height: 265px;
	}
	.flip-container .front, .flip-container .back { 
		width: 170px;
		height: 255px;
	}
	.gameBoard .cardContainer .card .cardPlaceholder .inner { height: 255px; }
	.gameBoard .cardContainer .card.playerTwo .playerMarker {
		right: auto;
		left: -15px;
	}
	.gameBoard .cardContainer .card .cardImage {
		top: 10px;
		left: 15px;
		width: 140px;
		height: 140px;
	}
	.gameBoard .cardContainer .card .cardStats { 
		top: 150px;
		left: 0;
		width: 170px;
	}
	.gameBoard .cardContainer .card .cardStats h1.cardTitle { 
		margin: 10px; 
		white-space: normal;
	}
	.gameBoard .cardContainer .card .cardStats .cardButtons { 
		position: absolute;
		width: 100px;
		height: 265px;
		left: 175px;
		top: -155px;
		background-color: #fff;
	}
	.gameBoard .cardContainer .card .cardStats .cardButtons .button { 
		padding: 8px;
		width: 100px;
		margin: 5px 0 0 0	;
	}
	.gameBoard .cardContainer .card .cardStats .cardButtons .button.abilityButton { 
		top: auto;
		bottom: 5px;
		left: 0;
		height: 55px;
	}
	.gameBoard .cardContainer .card .back .cardLogo,
	.gameBoard .cardContainer .card .cardPlaceholder .inner .cardLogo { 
		margin-top: 90px;
    	margin-left: -6px;
		@include logo-mixin(true, 0.8);
	}
	.gameBoard .cardContainer .card .back .statContainer { left: 10px; }
	.gameBoard .cardContainer .cardSeperator {
		width: 180px;
		height: 50px;
		line-height: 50px;
		font-size: 24px;
	}
}

@media all and (max-width: 640px) and (orientation: landscape) { /* Landscape small phones - MAYBE MAKE WIDTH EVEN SMALLER... 568px (iPhone 5/SE) */
	.gameBoard {
		width: 430px;
		height: 250px;
		margin-top: -125px;
		margin-left: -215px;
	}
	.gameBoard .cardContainer .card, 
	.gameBoard .cardContainer .card .cardPlaceholder, 
	.gameBoard .cardContainer .card .flip-container { 
		width: 180px; 
		height: 250px; 
	}
	.flip-container .front, .flip-container .back {
		width: 170px;
		height: 240px;
	}
	.gameBoard .cardContainer .card .cardPlaceholder .inner { height: 240px; }
	.gameBoard .cardContainer .card .cardImage {
		top: 10px;
		left: 30px;
		width: 110px;
		height: 110px;
	}
	.gameBoard .cardContainer .card .cardStats {
	    top: 120px;
	    width: 160px;
	}
	.gameBoard .cardContainer .card .cardStats h1.cardTitle { font-size: 16px; }
	.gameBoard .cardContainer .card .cardStats .cardButtons .button { 
		width: 78px;
		margin: 1px; 
	}
	.gameBoard .cardContainer .card .cardStats .cardButtons .button.abilityButton {
		top: -100px;
	}
	.gameBoard .cardContainer .card .back .cardLogo,
	.gameBoard .cardContainer .card .cardPlaceholder .inner .cardLogo { 
		margin-top: 80px;
    	margin-left: -6px;
		@include logo-mixin(true, 0.8);
	}
	.gameBoard .cardContainer .card .speechBubble { top: -15px; }
	.gameBoard .cardContainer .card .back .statContainer { left: 10px; }
	.gameBoard .cardContainer .cardSeperator {
		height: 250px;
		line-height: 250px;
	}
}

@media all and (max-width: 384px) and (orientation: portrait) { /* Portrait small phones and below (384px is Nexus 4 width) */
	.overlay .modal { 
		width: 260px;
		margin-left: -150px;
	}
	.gameBoard {
		width: 260px;
		height: 490px;
		margin-top: -245px;
		margin-left: -130px;
	}
	.gameBoard .cardContainer .card, 
	.gameBoard .cardContainer .card .cardPlaceholder, 
	.gameBoard .cardContainer .card .flip-container { 
		width: 160px; 
		height: 225px;
	}
	.flip-container .front, .flip-container .back { 
		width: 150px;
		height: 215px;
	}
	.gameBoard .cardContainer .card .cardPlaceholder .inner { height: 215px; }
	.gameBoard .cardContainer .card.playerOne .speechBubble { 
		top: -20px;
		left: -20px;
	}
	.gameBoard .cardContainer .card.playerTwo .speechBubble { 
		left: -20px;
	}
	.gameBoard .cardContainer .card .cardImage {
		top: 5px;
		left: 5px;
	}
	.gameBoard .cardContainer .card .cardStats { 
		top: 145px;
		width: 150px;
	}
	.gameBoard .cardContainer .card .cardStats p.cardNumber { 
		margin: 5px 0 0 0;
		font-size: 13px;
	}
	.gameBoard .cardContainer .card .cardStats h1.cardTitle { margin: 5px; }
	.gameBoard .cardContainer .card .cardStats .cardButtons {
		top: -150px;
		left: 155px;
		height: 225px;
	}
	.gameBoard .cardContainer .card .cardStats .cardButtons .button { padding: 5px; }
	.gameBoard .cardContainer .card .cardStats .cardButtons .button.abilityButton { 
		height: 39px;
		font-size: 12px;
	}
	.gameBoard .cardContainer .card .back .cardLogo,
	.gameBoard .cardContainer .card .cardPlaceholder .inner .cardLogo { 
		margin-top: 65px;
   	margin-left: -14px;
		@include logo-mixin(true, 0.7);
	}
	.gameBoard .cardContainer .card .back .statContainer { width: 100px; }
	.gameBoard .cardContainer .cardSeperator {
		width: 160px;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
	}
}